.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=text],input[type=password],input[type=email]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background:#f1f1f1;
  font-size:medium;
  margin-bottom: 2rem;
  display: flow-root;
}

input[type=submit]{
    
  background-color: #04AA6D;
  width: 100%;
  padding: 16px 20px;
  font-size: medium;
  margin: 8px 0;
  display:flow-root;
  margin-top: 3rem;

}

.photo {
  max-width: 1100px;
  margin: 50px;
  
}
.allforms{
  color:green;
  background-color:azure;
  width: 25%;
  padding: 16px 20px;
  font-size:large;
  margin: 8px 0;
  margin-left: 180px;
}
